*{
    margin: 0px;
    padding: 0px;
    
}  

#conteiner{
width: 1432px;
height: 5852px;
top: -3382px;
left: -772px;
background: #ffffff;

}

.menus{
width: 1180px;
height: 40px;
top: 40px;
left: 130px;
border-radius: 10px;

}

.menus #biccas{
width: 160px;
height: 30px;
top: 40px;
left: 130px;
display: flex;

font-family: Inter;
font-size: 50px;
font-weight: 600;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
list-style-type: none;
pointer-events: none;
position: absolute;



}

 .menus #Home{
width: 51px;
height: 22px;
left: 629px;
top: 49px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
font-family: Inter;
line-height: 28.78px;
letter-spacing: 0em;
text-align: left;
display: flex;
position: absolute;
list-style: none;



/* identical to box height */

color: #000000;
 }   
 .menus #product{
width: 61px;
height: 19px;
top: 51px;
left: 720px;
color: #a9a9a9;
font-family: Inter;
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
display: flex;
position: absolute;
list-style: none;


 }

 .menus #fag{
    width: 31px;
    height: 19px;
    top: 51px;
    left: 821px;
    color: #a9a9a9;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
   display: flex;
   position: absolute;
   list-style: none;
   

 }

 .menus #blog{
    width: 34px;
    height: 19px;
    top: 51px;
    left: 892px;
    color: #a9a9a9;

    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    
    position: absolute;
    list-style: none;
    

 }

 .menus #login{
    width: 43px;
    height: 19px;
    top: 51px;
    left: 1110px;
    color: #a9a9a9;

    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    position: absolute;
    pointer-events:  none;
    list-style: none;
    

 }
 .menus #rectangle{
    width: 80px;
    height: 40px;
    top: 40px;
    left: 1165px;
    border-radius: 10px;
    position: absolute;
    list-style: none;


 }
        
  

#container{
    background: #f5f5f5;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0px;
    max-width: 1500px;
    height: 100%;
}


#propriedade_2 .Elipse-36{

width: 634px;
height: 634px;
top: -280px;
left: -317px;

position: absolute;
;
}

#propriedade_2 .Elipse-37{
width: 634px;
height: 634px;
top: 270px;
left: 1123px;


   
    position: relative;
}

#propriedade_2 .Elipse-38{
width: 634px;
height: 634px;
top: 270px;
left: 1123px;
    
position: relative;

}

#propriedade_7 .Elipse-40{
width: 634px;
height: 634px;
top: 3278px;
left: 1123px;

position: absolute;
    
}

/*Propriedade 1 lado esquerdo*/
#propriedade_1{
    width: 555px;
    height: 578px;
    top: 210px;
    left: 130px;
    border-radius: 40px;
    position: absolute;

    border-width: 0px 0px 0px 0px;
    border-style: solid;
    border-color: rgba(84, 189, 149, 1);
      
    }
    #propriedade_1 .paragrafo_1{
        width: 555px;
        height: 270px;
        top: 210px;
        left: 130px;

        font-family:Arial, Helvetica, sans-serif;
        font-size: 80px;
        font-weight: 700;
        line-height: 90px;
        letter-spacing: 0em;
        text-align: left;


    }

    #propriedade_1 .imagem_vetor{
        width: 479px;
        height: 26px;
        top: 510px;
        left: 130px;
    }


    
    #propriedade_1 .paragrafo_2{
        width: 461px;
        height: 90px;
        top: 586px;
        left: 130px;


        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
    }

    #propriedade_1 .frameTrial{
        width: 120px;
        height: 62px;
        top: 726px;
        left: 250px;
        padding: 20px 30px 20px 30px;
        border-radius: 40px;
        gap: 10px;

        background: rgba(84, 189, 149, 1);
        display: inline;


    }

    #propriedade_1 .framevideo{
        width: 152px;
        height: 40px;
        top: 750px;
        left: 450px;
        gap: 20px;
        display: inline-table;
       
        
        
        

    }
     
    /*Propriedade 2* lado direito*/

#propriedade_2{
    width: 701.68px;
    height: 559px;
    top: 210px;
    left: 720px;
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 1);
    
    
    
    }


#propriedade_2 #frame-45{

    width: 146px;
    height: 188px;
    top: 500px;
    left: 1280.66px;
    border-radius: 10px;
    rotate: -15째;
    
    position: absolute;
}

#propriedade_2 .rectangle-36{
width: 64px;
height: 28px;
top: 263px;
left: 901px;
border-radius: 40px;
position: absolute;    
}

#propriedade_2 .Group-44{
    width: 64px;
    height: 28px;
    top: 263px;
    left: 901px;
    border-radius: 40px;
    position: absolute;   
}

#propriedade_2 .Group-46{
width: 138px;
height: 70px;
top: 631px;
left: 824px;
border-radius: 10px;
position: absolute;
}
#propriedade_2 .Group-48{
width: 40px;
height: 40px;
top: 720px;
left: 1224.35px;
border-radius: 10px;
rotate: 15째;
position: absolute;
       
}
    

#propriedade_2 .Group-59{
width: 59.49px;
height: 59.49px;
top: 236px;
left: 1285px;
border-radius: 10px;

position: absolute;
    
}

#propriedade_2 .Rectangle_34{
    width: 40px;
    height: 40px;
    top: 393.35px;
    left: 837px;
    border-radius: 10px;
    rotate: 15째;

    position: absolute;
}

#propriedade_2 .Vector_25{
width: 12px;
height: 8px;
top: 403px;
left: 855px;
border: 2px;

position: absolute;

}

    #propriedade_2 .total{
width: 70px;
height: 18px;
top: 280px;
left: 738px;
font-family: Inter;
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0em;
text-align: left;

color: #000000;

position: absolute;

         
        }

#propriedade_2 .rectangle-38{
width: 262px;
height: 78px;
top: 240px;
left: 720px;
border-radius: 10px;

position: absolute;
background: rgba(255, 255, 255, 1);


}

#propriedade_2 .Amout{
width: 77px;
height: 18px;
top: 254px;
left: 738px;
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 15px;
letter-spacing: 0em;
text-align: left;

    
position: absolute;

color: rgba(169, 167, 182, 1);



    
    
    
    }



#propriedade_2 #frame-background-foto{
    
    position: absolute;
    width: 410px;
    height: 490px;
    left: 900px;
    top: 210px;
    
    background: rgba(82, 189, 148, 1);

    border-radius: 10px;
    
}
#propriedade_2.frame-foto-legenda{
position: relative;
width: 437px;
height: 438px;
left: -49px;
top: 92px;

background: url(charlie-green-3JmfENcL24M-unsplash.png);        



}

#propriedade_3{
width: 1025px;
height: 100px;
top: 900px;
left: 130px;

}
#propriedade_3 #paragrafo_3{
    width: 750px;
    height: 50px;
    top: 918px;
    left: 360px;
    font-family: Inter;
    font-size: 40px;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
    color: #000000;
   position: absolute;

  

}
.frame_logos{
width: 1076px;
height: 38px;
top: 1026px;
left: 130px;


}
#propriedade_3 .frame_logos #logo_1{
    width: 180px;
    height: 38px;
    top: 1026px;
    left: 130px;
    
    position: absolute;
    
}
#propriedade_3 .frame_logos #logo_2{
width: 145px;
height: 36px;
top: 1027px;
left: 360px;
border:  2px solid #A6A6A6;

position: absolute;

}
#propriedade_3 .frame_logos #logo_3{
width: 201px;
height: 36px;
top: 1027px;
left: 555px;

border: 2px solid #FFFFFF;

position: absolute;

    
}

#propriedade_3 .frame_logos #logo_4{
width: 154px;
height: 36px;
top: 1027px;
left: 806px;
position: absolute;        
}

#propriedade_3 .frame_logos #logo_5{
    width: 196px;
    height: 36px;
    top: 1027px;
    left: 1010px;

    border: 2px solid #FFFFFF;

    position: absolute;
            
}

#propriedade_4{
width: 1440px;
height: 541px;
top: 1194px;

}

#propriedade_4 #propriedade_4_esquerdo .texto_titulo{
width: 617px;
height: 122px;
top: 1254px;
left: 130px;

font-family: Inter;
font-size: 50px;
font-weight: 600;
line-height: 61px;
letter-spacing: 0em;
text-align: left;

background: #ffffff;
position: absolute;

}

#propriedade_4_esquerdo .paragrafo_4{

width: 644px;
height: 90px;
top: 1406px;
left: 130px;

font-family: Inter;
font-size: 16px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0em;
text-align: left;

position: absolute;

}
#propriedade_4_esquerdo .classificacao_1{

width: 142px;
height: 96px;
top: 1569px;
left: 130px;

position: absolute;
    
}

    #propriedade_4_esquerdo .classificacao_2{

width: 142px;
height: 106px;
top: 1569px;
left: 352px;

        
position: absolute;
            
}
#propriedade_4 #propriedade_4_direito .publishing{
width: 509px;
height: 137px;
top: 1254px;
left: 801px;

position: absolute;
    
}
    #propriedade_4_direito .analytics{
width: 508px;
height: 107px;
top: 1421px;
left: 802px;

position: absolute;
}

#propriedade_4_direito .engagement{

width: 509px;
height: 107px;
top: 1558px;
left: 801px;

position: absolute;
   
}
#propriedade_5{
width: 1180px;
height: 766px;
top: 1865px;
left: 130px;
    
          
    }
 
#propriedade_5 .feature{
width: 331px;
height: 122px;
top: 1865px;
left: 130px;
font-family: Inter;
font-size: 50px;
font-weight: 600;
line-height: 61px;
letter-spacing: 0em;
text-align: left;


position: absolute;

}    
#propriedade_5 .paragrafo_5{
width: 461px;
height: 90px;
top: 1879px;
left: 574px;
font-family: Inter;
font-size: 18px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0em;
text-align: left;

position: absolute;

}

#propriedade_5 .buttonGetStart{
width: 162px;
height: 66px;
top: 1894px;
left: 1148px;
border-radius: 70px;

position: absolute;

}

#propriedade_5 #propriedade_5-geometria .teams{
width: 364px;
height: 570px;
top: 2061px;
left: 130px;
border-radius: 20px;

position: absolute;

}

#propriedade_5-geometria .storage{
width: 364px;
height: 570px;
top: 2061px;
left: 538px;
border-radius: 20px;

position: absolute;
     
    }

#propriedade_5-geometria .darly_analytics{
width: 364px;
height: 570px;
top: 2061px;
left: 946px;
border-radius: 20px;

position: absolute;
        
}    

#propriedade_6{
width: 1249px;
height: 543px;
top: 2761px;
left: 130px;
}

#propriedade_6 .benifit{
width: 471px;
height: 452px;
top: 2761px;
left: 130px;

position: absolute;

    
}

#propriedade_6 .notebook{
width: 450px;
height: 529px;
top: 2761px;
left: 860px;
border-radius: 20px;

position: absolute;
         
}

#propriedade_6 .img1{
width: 304px;
height: 82px;
top: 2797px;
left: 736px;
border-radius: 10px;

position: absolute;

             
}

#propriedade_6 .img2{
width: 40px;
height: 40px;
top: 3046.35px;
left: 791px;
border-radius: 10px;
rotate: 15째;

position: absolute;
                 
    }

#propriedade_6 .img3{
width: 302px;
height: 68px;
top: 3236px;
left: 754px;
border-radius: 10px;

position: absolute;
    
                         
}

#propriedade_7{
width: 1180px;
height: 1069px;
top: 3434px;
left: 141px;
    
}



#propriedade_7 .titulo4{
width: 492px;
height: 146px;
top: 3434px;
left: 485px;
font-family: Inter;
font-size: 50px;
font-weight: 700;
line-height: 73px;
letter-spacing: 0em;
text-align: center;

position: absolute;
}

#propriedade_7 .paragrafo_6{
width: 519px;
height: 22px;
top: 3620px;
left: 472px;
font-family: Inter;
font-size: 29px;
font-weight: 700;
line-height: 22px;
letter-spacing: 0em;
text-align: center;
color: rgba(166, 166, 166, 1);
position: absolute;    
}

#propriedade_7 .Group-162{
width: 340px;
height: 70px;
top: 3682px;
left: 561px;
border-radius: 10px;

position: absolute;

}

#propriedade_7 .Group-201{
width: 374px;
height: 644px;
top: 3841px;
left: 947px;
position: absolute;
}
#propriedade_7 .Group-202{
width: 374px;
height: 644px;
top: 3841px;
left: 141px;

position: absolute;
}
#propriedade_7 .Frame-57{
width: 374px;
height: 684px;
top: 3819px;
left: 544px;
border-radius: 20px;
color: aquamarine;

position: absolute;

          
    }

 #propriedade_8{
width: 1440px;
height: 1217px;
top: 4633px;
border: 2px;

background: rgba(22, 28, 40, 1);

 }   
 #propriedade_8 .rectangle-80{
    width: 1300px;
    height: 1217px;
    top: 4633px;
    border: 2px;
    
    background: rgba(22, 28, 40, 1);

    position: absolute;
    
     }    
     #propriedade_8 #Group-216{
    width: 466px;
    height: 588px;
    top: 4763px;
    left: 130px;
    border: 2px solid rgba(255, 255, 255, 1)

     }  

 #propriedade_8 #Group-216 .Titulo{
    width: 444px;
    height: 122px;
    top: 4763px;
    left: 130px;
    font-family: Inter;
    font-size: 50px;
    font-weight: 600;
    line-height: 61px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);


    
    
    position: absolute;
        
     }  
#propriedade_8 #Group-216 .texto{
    width: 461px;
    height: 60px;
    top: 4905px;
    left: 130px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(166, 166, 166, 1);


    position: absolute;

     }
    
     #propriedade_8 #Group-213{
        width: 461px;
        height: 238px;
        top: 5007px;
        left: 135px;

        position: absolute;

     }

     #Group_212{
        width: 45px;
        height: 38px;
        top: 5007px;
        left: 135px;

     }
     
     #propriedade_8 #Group_212 .Group-212{
        width: 45px;
        height: 38px;
        top: 5007px;
        left: 135px;
        

    position: absolute;

    
    }
    #propriedade_8 #Group_213 .Group-213{
    
        width: 461px;
        height: 90px;
        top: 5085px;
        left: 135px;
        font-family: Inter;
        font-size: 18px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(166, 166, 166, 1);


        position: absolute;
}
#propriedade_8 .mensager{
    width: 128px;
    height: 30px;
    top: 5215px;
    left: 135px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color:  rgba(166, 166, 166, 1);
    position: absolute;
}

#propriedade_8 .Elipse-54{
width: 66px;
height: 66px;
top: 5285px;
left: 135px;

position: absolute;
}

#propriedade_8 .Elipse-55{
width: 66px;
height: 66px;
top: 5285px;
left: 221px;
    
position: absolute;
    }
    

#propriedade_8 .Elipse-56{
width: 66px;
height: 66px;
top: 5285px;
left: 307px;
       
position: absolute;
 }    

 #propriedade_8 .Elipse-57{
width: 66px;
height: 66px;
top: 5285px;
left: 393px;

position: absolute;
}    

#propriedade_8 #Group-215 .Group-215{
width: 66px;
height: 66px;
top: 5285px;
left: 479px;
border: 2px solid rgba(255, 255, 255, 1);

position: absolute;

    }  
    
#Frame-58{

width: 400px;
height: 500px;
top: 4763px;
left: 697px;
padding: 40px 86px 66px 86px;
border-radius: 20px;

position: absolute;
background: rgba(34, 41, 56, 1);




}    
    
#propriedade_8 #Frame-58 .Group-223{
width: 168px;
height: 132px;
top: 40px;
left: 222px;

position: absolute;

} 

#propriedade_8 #Frame-58 .Group-222{
width: 440px;
height: 340px;
top: 182px;
left: 86px;
border-radius: 10px;

position: absolute;
    
} 

#Group_233{
width: 410px;
height: 180px;
top: 5521px;
left: 130px;
border-radius: 70px;
border: 2px solid rgba(166, 166, 166, 1);

position: absolute;
}

#propriedade_8 .Group-233{
width: 160px;
height: 30px;
top: 5521px;
left: 130px;
font-family: Inter;
font-size: 50px;
font-weight: 600;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
color: #00ffff;

display: flexbox;

position: absolute;
} 

#propriedade_8 .texto{
width: 286px;
height: 30px;
top: 5581px;
left: 130px;
font-family: Inter;
font-size: 18px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
color:  rgba(166, 166, 166, 1);

position: absolute;

}

#propriedade_8 .Group-224{
    
position: absolute;
width: 410px;
height: 60px;
top: 5641px;
left: 130px;
border-radius: 70px;

border: 2px solid rgba(166, 166, 166, 1);
    
}

#Group-232{
width: 587px;
height: 200px;
top: 5521px;
left: 697px;

}

#propriedade_8 #Group-232 .Group-231{
width: 175px;
height: 200px;
top: 5521px;
left: 697px;
position: absolute;        
        
}

#propriedade_8 #Group-232 .Group-230{
width: 152px;
height: 200px;
top: 5521px;
left: 936px;
position: absolute;
        
            
}

#propriedade_8 #Group-232 .Group-229{
width: 132px;
height: 200px;
top: 5521px;
left: 1152px;
position: absolute;

 }
    

.rodape_esquerdo{
width: 425px;
height: 30px;
top: 5780px;
left: 130px;
color: #f5f5f5;
position: absolute; 
font-size: 18px;   
}
.rodape_direito{
width: 331px;
height: 30px;
top: 5780px;
left: 860px;
position: absolute;
color: #f5f5f5;

          
}
    

    
    
    
    
            

        
    


    
